image:
  - Ubuntu2204
  - Visual Studio 2017
  - Visual Studio 2019
  - Visual Studio 2022

configuration:
  - Debug
  - Release

environment:
  PYTHON: "C:\\Python38-x64"
  PY_SCRIPTS: "C:\\Python38-x64\\Scripts"
  APPVEYOR_YML_DISABLE_PS_LINUX: true
  matrix:
    - SHARED: True
    - SHARED: False

platform:
    - x64

stack: python 3.11

for:
  -
    install:
      - cmd: set PATH=%PY_SCRIPTS%;%PATH%
      - cmd: echo %PATH%
      - cmd: "%PYTHON%\\python.exe -m pip install conan cmake"
      - sh: python3 -m pip install conan cmake
    build_script:
      - cmake --version
      - conan profile detect
    test_script:
      - cmd: cmake -E env ROTOR_BUILD_EXAMPLES=ON CXXFLAGS="/permissive- /wd4251 /W4 /w14640 /wd4068" conan create . -s build_type=%CONFIGURATION% -o shared=%SHARED% -s compiler.cppstd=17 -c tools.build:skip_test=False -o boost/*:without_chrono=True -o boost/*:without_container=True -o boost/*:without_context=True -o boost/*:without_contract=True -o boost/*:without_coroutine=True  -o boost/*:without_exception=True -o boost/*:without_fiber=True -o boost/*:without_graph=True -o boost/*:without_graph_parallel=True -o boost/*:without_iostreams=True -o boost/*:without_json=True -o boost/*:without_locale=True -o boost/*:without_log=True -o boost/*:without_math=True -o boost/*:without_mpi=True -o boost/*:without_nowide=True  -o boost/*:without_python=True -o boost/*:without_random=True -o boost/*:without_serialization=True -o boost/*:without_stacktrace=True -o boost/*:without_test=True -o boost/*:without_thread=True -o boost/*:without_timer=True -o boost/*:without_type_erasure=True -o boost/*:without_url=True -o boost/*:without_wave=True  --version 0.26 --build=missing
      - sh: cmake -E env ROTOR_BUILD_EXAMPLES=ON CXXFLAGS="-Wall -Wextra -Wno-unknown-pragmas -Wnon-virtual-dtor -pedantic -Wcast-align -Woverloaded-virtual -Woverloaded-virtual -Wlogical-op -Wnull-dereference -Wuseless-cast -Wformat=2 -Wduplicated-cond -Wsign-conversion -Wmisleading-indentation" conan create . -s build_type=$CONFIGURATION -o shared=$SHARED -s compiler.cppstd=17 -c tools.build:skip_test=False -o enable_ev=True -o boost/*:without_chrono=True -o boost/*:without_container=True -o boost/*:without_context=True -o boost/*:without_contract=True -o boost/*:without_coroutine=True  -o boost/*:without_exception=True -o boost/*:without_fiber=True -o boost/*:without_graph=True -o boost/*:without_graph_parallel=True -o boost/*:without_iostreams=True -o boost/*:without_json=True -o boost/*:without_locale=True -o boost/*:without_log=True -o boost/*:without_math=True -o boost/*:without_mpi=True -o boost/*:without_nowide=True  -o boost/*:without_python=True -o boost/*:without_random=True -o boost/*:without_serialization=True -o boost/*:without_stacktrace=True -o boost/*:without_test=True -o boost/*:without_thread=True -o boost/*:without_timer=True -o boost/*:without_type_erasure=True -o boost/*:without_url=True -o boost/*:without_wave=True  --version 0.26 --build=missing